.home {
  .home__title {
    font-size: 40px;
    margin-bottom: 0.5rem;
    font-weight: bold
  }

  .home__button, .home__subtitle {
    font-size: 22px;
  }

  .home__button {
    background: transparent;
    border: 3px solid var(--amber);
    color: var(--amber);
    font-weight: bold;
    padding: 1.25rem 1rem;
  }

  .home__button:hover, .home__button:focus {
    background: var(--amber);
    color: var(--dark-gray);
    cursor: pointer;
    outline: none;
  }

  .home__button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .home__subtitle{
    overflow: hidden;
    border-right: .55em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation: 
      typing 4.5s steps(65, end),
      blink-caret .75s step-end infinite;
    max-width: 29.5rem;
  }

}


  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--amber); }
  }
