.loading-bar {
  max-width: 980px;
  width: 100%;
}

.loading-bar__container {
  background-color: transparent;
  border: 1px solid var(--amber);
}

.loading-bar__bar {
  width: 1%;
  height: 30px;
  background-color: var(--amber);
}
